[Desktop Entry]
Name=CoreKeyboard
Comment=A virtual keyboard for X11 for C Suite.
TryExec=/usr/bin/corekeyboard
Exec=corekeyboard -platform xcb
Icon=cc.cubocore.CoreKeyboard
Type=Application
Categories=Qt;Utility;Accessibility;X-CSuite;
Terminal=false
StartupNotify=true
